<mat-toolbar  color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>JOYAS</span>
   
    <nav>
        <a mat-button routerLink="/home" routerLinkActive="active"> Inicio </a>
        <a mat-button  routerLink="/products" routerLinkActive="active"> products </a>
        <a mat-button  routerLink="/contact" routerLinkActive="active"> contactos </a>

        <a mat-raised-button>
            <mat-icon>shopping_cart</mat-icon>

        </a>

        
        
    </nav>
   
    





    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>





