p{
    background-color: rgb(93, 93, 233);
    color: white;
    height: 50px;
    width: 100%;
    border: 1pz solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    }